// Fonts
$font-reg: "fira_sansregular", Arial, sans-serif;
$font-italic: "fira_sansitalic", Arial, sans-serif;
$font-bold: "fira_sansbold", Arial, sans-serif;
$font-ultra: "fira_sansultra", Arial, sans-serif;
$font-med: "fira_sansmedium", Arial, sans-serif;
$font-heavy: "fira_sansheavy", Arial, sans-serif;

//Colors
$dark: #002d40;
$light: #ffffff;
$accent: #00bcc9;
$accent2: #ffeea8;
